.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-style:italic;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 54% 100%, 34% 75%, 0% 75%);
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  p{
    margin-left:150px;
  }